body {
    background-color: #6643b5;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.formbox {
    text-align: center;
}

form {
    margin: 50px;
    padding: 40px;
    background-color: #d5def5;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px; 
}

.form-input {
    margin-bottom: 20px;
}

.first-color {
    background: #d5def5;
}

.second-color {
    background: #8594e4;
}

.third-color {
    background: #6643b5;
}

.fourth-color {
    background: #430f58;
}
.form-input label{
    margin: 0px;
   
    flex-direction: column;
    font-weight: bolder;
}
.form-input input {
  
    display:inline-flex;
    margin-top: 5px;
    color: rgb(0, 0, 0);
}
